body{
  background-color: black;
  color: white;
  font-family: Tahoma;
}
input{
  display: block;
  margin: 0.5em 0;
}
label{
  display: block;
  margin: 1em;
}
input[type="radio"]{
  display: inline;
  padding: 0 0.5em;
}
input[type="checkbox"]{
  display: inline;
  margin: 0 0.5em;
}
